// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


body {
    background-color: #ffffff;
    font-family: "Graphik Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.counter-list .counter-item.active {
    background: #222;
    color: #fff;
}

.counter-list .counter-item {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    background: #f5f5f5;
    border-radius: 20px;
    padding: 12px 22px;
    margin-right: 6px;
    margin-bottom: 7px
}

.counter-list .counter-param {
    font-weight: bold;
}

.counter-list .counter-param, .counter-list .counter-value {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

.form-group {
    margin-bottom: 17px;
}

.form-control {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
}

.form-group-swap .swap-btn {
    position: absolute;
    display: block;
    z-index: 100;
    left: 50%;
    top: 21px;
    width: 20px;
    margin-left: -12px;
    line-height: 38px;
    text-align: center;
}

.form-group-swap {
    position: relative
}

h5, .h5, .form-group>label {
    font-size: 9px;
    line-height: 14px;
    vertical-align: top;
    margin-bottom: 7px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1.3px;
    color: #666;
}

a {
    text-decoration: none;
}

a.tc-item {
    color: #222;
}

a.counter-item {
    color: #4384d0;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-primary {
    color: #fff;
    background-color: #4384d0;
    border-color: #4384d0;
}

.btn-default {
    color: #4384d0;
    background-color: #fff;
    border-color: #e4e4e4;
}

.btn-wide {
    padding-left: 20px;
    padding-right: 20px;
}

.btn-block {
    display: block;
    width: 100%;
}

.h1, .h1 {
    font-size: 30px;
}

.fa, .fas {
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
}

.fa, .fas, .far, .fal, .fad, .fab {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa-exchange-alt:before {
    content: "ï¢";
}

.tc-item>div {
    display: table-cell;
    float: none;
    vertical-align: top;
    padding-left: 8px;
    padding-right: 8px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.clickable-row {
    cursor: pointer;
}
.clickable-row:hover {
    background-color: #f0f0f0;
}

table.table {
    background-color: #ffffff !important;
}

table.table td, table.table th {
    background-color: #ffffff !important;
    color: #000000 !important;
    border-color: #dee2e6 !important;
}


.col-xs-1 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
}

.col-xs-2 {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.text-bold {
    font-weight: bold;
}

.param-list .param-item {
    word-wrap: break-word;
}

.param-item {
    margin-bottom: 25px;
}

.from-group {
    margin-bottom: 17px;
}

.form-group-swap {
    position: relative
}

.form-group-swap .swap-btn {
    position: absolute;
    display: block;
    z-index: 100;
    left: 50%;
    top: 21px;
    width: 20px;
    margin-left: -10px;
    line-height: 38px;
    text-align: center;
}

.label {
    cursor: default;
    display: inline-block;
    max-width: 100%;
}

label.payment-method {
    width: 100%;
}

label.payment-method span {
    float: right;
}

.has-feedback {
    position: relative;
}




